# my global config
global:
  scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.

#
# scrape configuration 
#
scrape_configs:

  # 
  # sample job for this same prometheus instance
  # 
  - job_name: "prometheus"

    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.

    static_configs:
      - targets: ["localhost:9090"]

  #
  # we have jobs for node, perf, squid and process on each virtual appliance
  # node how __address__ gets relabelled into instance which is used in
  # grafana dashboards later
  #
  - job_name: "websafety_node"
    static_configs:
      - targets: ["localhost:9090"]
        labels:
          app: websafety
    metrics_path: /metrics
    relabel_configs:
    - source_labels: [__address__]
      target_label: instance
      regex: (.*)[:].+

  - job_name: "websafety_perf"
    static_configs:
      - targets: ["localhost:9090"]
        labels:
          app: websafety
    metrics_path: /metrics/perf
    relabel_configs:
    - source_labels: [__address__]
      target_label: instance
      regex: (.*)[:].+

  - job_name: "websafety_squid"
    static_configs:
      - targets: ["localhost:9090"]
        labels:
          app: websafety
    metrics_path: /metrics/squid
    relabel_configs:
    - source_labels: [__address__]
      target_label: instance
      regex: (.*)[:].+

  - job_name: "websafety_process"
    static_configs:
      - targets: ["localhost:9090"]
        labels:
          app: websafety
    metrics_path: /metrics/process
    relabel_configs:
    - source_labels: [__address__]
      target_label: instance
      regex: (.*)[:].+
