#
# this is sample env file - adapt it as needed to your wishes and then rename to .env
#

#
# django settings - look for description at https://docs.djangoproject.com/en/4.2/ref/settings/
#

#
# set to some secret value when going into production, see https://stackoverflow.com/questions/7382149/whats-the-purpose-of-django-setting-secret-key
#
SECRET_KEY=django-insecure-4wyhbukh*w=v-!a*8w0n*4dgceiy9u3w)@_2j=0l*6*725^-j^

#
# only set to True if you are developing, swtich to False when going into production
#
DEBUG=True

#
# these two are related
#
ALLOWED_HOSTS=localhost,127.0.0.1,console.example.com
CSRF_TRUSTED_ORIGINS=https://console.example.cloud

#
# console swg settings - the client node must be able to resolve and reach this address
#
SWG_ADDR=console.example.com
